<div class="register">
    <div class="form login">
        <h3>Account activation</h3>
        <p>An activation pin has been sent to the email address that was provided.</p>
        <form method="POST" action="/activate" autocomplete="off">
            <input type="number" id="pin" name="pin" /><br>
            <label for="pin">Enter 6 digit pin sent to your email</label><br>
            <button type="submit">activate Account</button>
        </form>
    </div>
</div>