<div class="register">
    <div class="form">
        <form method="POST" action="/api/koloshop/servers/passwordReset">
            <div class="form-group">
                <input type="email" name="email" placeholder="enter a valid email address" required>
                <button type="submit" class="btn btn-primary">Enter</button>
            </div>
            <div class="links">
                <a href="/login">login</a>
                <a href="/register">sign up</a>
            </div>
        </form>
    </div>

     <% if( typeof error != 'undefined') { %>
     <% error.forEach(function(err){ %>
     <div class="alert alert-danger alert-dismissible fade show bg-light" role="alert">
         <%= err.message %><br>
        <%= err.message2 %>
     </div>
     <% }) %>
     <% } %>
</div>