<div class="register">
    <div class="form forgotPasswordForm">
        <form method="POST" action="/passwordReset">
            <h4>Reset Password</h4>
            <div class="form-group">
                <input type="email" name="email" placeholder="enter a valid email address" >
                 <% if( typeof validateEmail != 'undefined') { %>
                 <% validateEmail.forEach(function(data){ %>
                     <p class="validateEmail"><%= data.message %></p><br>
                 <% }) %>
                 <% } %>
                <button type="submit" class="btn btn-primary">reset password</button>
            </div>
            <div class="login_links">
                <a href="/login">login</a>
                <a href="/register">sign up</a>
            </div>
        </form>
    </div>
<div class="message">
    <% if( typeof message != 'undefined') { %>
    <% message.forEach(function(data){ %>
    <div class="success_alert alert alert-success alert-dismissible fade show bg-light" role="alert">
        <%= data.msg %><br>
    </div>
    <% }) %>
    <% } %>
</div>

     <% if( typeof error != 'undefined') { %>
     <% error.forEach(function(err){ %>
     <div class="error_alert alert alert-danger alert-dismissible fade show bg-light" role="alert">
         <%= err.message %><br>
        <%= err.message2 %>
     </div>
     <% }) %>
     <% } %>
</div>