<div class="register">
    <div class="form">
        <form action="/login" method="POST">
            <h4>Log in</h4>

            <div class="form-group">
                <input type="email" name="email" id="email" placeholder="enter email" required>
                <input type="password" name="password" placeholder="enter password" required>
                <button class="container btn btn-primary btn-sm">submit</button>
            </div>
            <p>click <a href="/register">here</a> to register</p>
        </form>
    </div>
</div>