<div class="register">
    <div class="form">
        <form action="/koloshop/api/server/login" method="POST">
            <h4>Log in</h4>
            <div class="form-group">
                <input type="email" name="email" id="email" placeholder="enter email" required>
                <input type="password" name="password" placeholder="enter password" required>
                <button class="container btn btn-primary btn-sm">log in</button>
            </div>
            <p>click <a href="/register">here</a> to sign up</p>
            <a class="forgot" href="/forgotPassword">Forgot password</a>
        </form>
    </div>
</div>