<div class="register">
  <div class="form_reg">
    <div class="container form">
      <form method="POST" action="/register">
        <h4>Create account</h4>
        <% if( typeof error != 'undefined') { %>
        <% error.forEach(function(err){ %>
        <div class="alert alert-warning alert-dismissible fade show bg-light" role="alert">
          *<%= err.msg %>
        </div>
        <% }) %>
        <% } %>

        <% if( typeof dbError != 'undefined') { %>
        <% dbError.forEach(function(error){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <h5>*<%= error.msg %></h5>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }) %>
        <% } %>
        <div class="form-group">
          <input type="text" class="form-control" name="firstName" id="firstName" placeholder="first name" />
          <input type="email" class="form-control" name="email" id="email" placeholder="enter email" />
          <input type="number" class="form-control" name="user_age" id="user_age" placeholder="enter your age" />
          <input type="text" name="address" id="address" placeholder="home address">
          <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" />
          <input type="password" name="password2" id="password2" placeholder="confirm password">
          <button class="container btn btn-primary btn-sm">
            sign up
          </button>
        </div>
        <p> click <a href="/login">here</a> to log in</p>
      </form>
    </div>
  </div>
</div>