<div class="register">
    <div class="form login">
        <form action="/resetpassword" method="POST">
            <h4>Reset password</h4>
            <div class="form-group">
                <input type="password" name="password" placeholder="new password"
                    value="<%= typeof password != 'undefined' ? password : '' %>">
                <input type="password" name="password2" placeholder="confirm password"
                    value="<%= typeof password != 'undefined' ? password : '' %>">

                <div>
                    <% if( typeof passwordResetError != 'undefined') { %>
                    <% passwordResetError.forEach(function(err){ %>
                    <h6 class="reg_err"><%= err.msg %></h6>
                    <% }) %>
                    <% } %>
                </div>
                <button class="container btn btn-primary btn-sm">save</button>
            </div>
        </form>
    </div>
</div>