<div class="register">
    <div class="form login">
        <form action="/resetpassword" method="PUT">
            <h4>Reset password</h4>
            <div class="form-group">
                <input type="password" name="password" placeholder="new password"  value="<%= typeof password != 'undefined' ? password : '' %>">
               <input type="password" name="password2" placeholder="confirm password"  value="<%= typeof password != 'undefined' ? password : '' %>">
                <button class="container btn btn-primary btn-sm">save</button>
            </div>
        </form>
    </div>
</div>