/* This style removes all the initial margins that comes with the web page */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
footer p {
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
}
.inner2 {
  width: 100%;
  justify-content: center;
}

.register {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.747)),
    url(../images/woman-wearing-white-button-up-long-sleeved-blouse-1105353.jpg);
  position: absolute;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  scroll-behavior: auto;
  background-attachment: fixed;
}

/* A-tag style continues */

/* Style of the div form */

.form>form>.form-group>input {
  position: relative;
  top: 50%;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  display: block;
  margin: auto;
  outline: none;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.textArea {
  margin-bottom: 10px;
}

.form>form>.form-group>button {
  margin: auto;
  color: #f5f5f5;
  background: linear-gradient(rgba(89, 102, 146, 0.4), rgba(22, 204, 128, 0.7));
  border: none;
  outline: none;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  min-width: 15%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.form>form>.form-group>button:active {
  transform: scale(1.5);
}

.form>form>.form-group>button:hover {
  background-color: #408a8f;
  color: #ffffff;
}

.form>form>h4 {
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  color: #fcfcfc;
  padding: 15px;
  letter-spacing: 0.2rem;
}

.validate {
  outline: red;
}

.checkout {
  display: flex;
}

.card>.card-body>h6 {
  text-align: center;
  font-family: sans-serif;
}

.card>img {
  transition: all ease 0.3s;
}

.card_flip {
  transform: rotateY(180deg);
}

.card>.card-body>h5 {
  color: #585858d8;
  text-align: center;
}

.card>.card-body>button {
  display: flex;
  justify-content: center;
  background: none;
  margin: auto;
  border: none;
  outline: none;
  font-family: sans-serif;
  color: #ffffff;
  padding: 5px;
  width: 100px;
  border-radius: 4px;
}

.unavailable {
  background: #8d8c8c34;
  color: #7a7979;
  padding: 15px;
  margin: auto;
  margin-bottom: 4%;
  height: 300px;
}

.product_header {
  width: 50%;
  margin: 10px auto;
  text-align: center;
  letter-spacing: 0.5rem;
  border-bottom: 1px solid #ec8b0c;
  transition: all ease 0.3s;
  padding-top: 20px;
}

/* Style of the form tag */

/* Form style continues */
.form a {
  color: #ffffff;
  text-decoration: none;
  transition: all ease 0.3s;
  font-weight: bolder;
  width: 100px;
  padding: 5px;
  text-align: center;
}
.validateEmail {
  text-align: center;
  font-family: sans-serif;
  color: red;
}
.forgot {
  text-align: center;
  margin: auto;
}

.form {
  width: 50%;
  margin: auto;
}

.form a:hover {
  color: #8d8c8c;
  text-decoration: none;
}

/* Style of individual inputs */

.img {
  color: aliceblue;
}

.login {
  margin-top: 10%;
}

.forgotPasswordForm {
  margin-top: 10%;
}

.login a {
  justify-content: center;
  text-align: center;
}

/* Button style */
.btn {
  display: flex;
  justify-content: center;
  width: 150px;
}

form>p {
  text-align: center;
  font-family: sans-serif;
  color: #ffffff;
  padding: 20px;
}

/* Styling the main_page */
.main_dash {
  height: 100%;
}

.inner1 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(49, 48, 48, 0.5), rgba(236, 139, 12, 0.808)), url(../images/classic-close-up-clothes-clothing-298864.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav_inner {
  width: 80%;
}

.nav_inner>.navbar {
  position: sticky;
  top: 0;
  height: 30%;
  background: none;
}

.navbar>a {
  color: #ffffff;
}

.navbar-brand {
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: medium;
}

.Brand_shop {
  color: #000000;
}

.row {
  width: 90%;
  margin: auto;
}

.user {
  width: 30%;
  display: flex;
  justify-content: left;
}

.inner1>.nav_inner>.navbar>.collapse>ul {
  display: flex;
  justify-content: center;
  margin: auto;
}

.inner1>.nav_inner>.navbar>.collapse>ul>li>a {
  width: 70px;
  color: #ffffff;
}

.name {
  color: #ffffff;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bolder;
  cursor: pointer;
}
 .name > button {
   border: none;
   background: none;
   color: #ffffff;
   outline: none;
 }
.name>ul {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease all;
  transform: translateY(-10px);
}
.name button:focus > ul {
  opacity: 1;
  transform: translateY(0px);
}
.name>ul>li {
  list-style: none;
}

.name>ul>li>a {
  color: #ffff;
  font-size: 16px;
}

.inner1>.user>h4 {
  padding: 15px;
  margin-left: auto;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.inner1>.nav_inner>.navbar>ul>li {
  list-style: none;
  padding: 15px;
  font-weight: 50;
  font-size: medium;
}

.inner1>.navbar>ul>li>a {
  text-decoration: none;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


.info {
  margin: 10% auto;
  width: 100%;
  height: 300px;
}

.info_text {
  margin: 10px;
  text-align: center;
}

.info_text>.info_btn>button {
  background: none;
  border: 2px solid white;
  padding: 8px;
  color: #ffffff;
  font-family: sans-serif;
  border-radius: 20px;
  width: 150px;
  transition: all ease 0.3s;
  cursor: pointer;
  outline: none;
}

.info_text>.info_btn>button:hover {
  background: #ffffff;
  color: #ec8b0c;
}

.info_text>.txt {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.info_btn {
  margin-top: 5%;
  width: 100%;
}

.info_text>.txt>h2 {
  font-weight: bolder;
  padding: 5px;
  color: #ffffff;
  font-family: sans-serif;
}

.info_text>.txt>p {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 14px;
  padding: 7px;
}


.collection {
  height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.747)), url(../images/woman-wearing-white-button-up-long-sleeved-blouse-1105353.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-origin: border-box;
  background-repeat: no-repeat;
}
.collection2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 100%;
  margin-top:10px;
}

.collection2_text {
  width: 40%;
}

.collection2_img {
  width: 30%;
}
#timbs {
  transition: all ease 0.4s;
}
.collection2>.collection2_text >p{
  color: #000000;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
}

.collection>.collection_text>button {
  background: none;
  color: #ffffff;
  font-family: sans-serif;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
}

.collection>.collection_text>h1,
p {
  color: #ffffff;
}

.collection_text {
  text-align: center;
  padding-top: 5%;
}

.contact_us {
  margin-top: 20px;
  background-color: #7a797970;
  height: 300px;
}

/* forgot password page */
.card {
  margin: 5% auto;
}

.card>h5 {
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.login_links {
  width: 15rem;
  margin: auto;
  text-align: center;
}

.error_alert,
.success_alert {
  margin: auto;
  width: 50%;
  text-align: center;
  color: lightseagreen;
}

.error_alert {
  color: red;
}

.reg_err {
  padding: 3px;
  justify-content: center;
  text-align: center;
  color: rgb(212, 79, 79);
  opacity: 1;
  transition: all ease 0.3s;
}

.alert {
  margin-top: 20px;
}

/* @media(width: 1020px 350px){ */
/* .form { */
/* width: 100%; */
/* margin: auto; */
/* } */
/* .form>form>.form-group>input { */
/* width: 70%; */
/* } */
/* } */

/* Product css */
.header {
  z-index: 99999;
  width: 100%;
  height: 70px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.091);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #cacaca;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.container1 {
  padding-top: 20px;
  min-height: 100vh;
  display: grid;
  grid-auto-rows: 400px;
  grid-gap: 30px;
  grid-template-columns: repeat(3, minmax(200px, 300px));
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
}

@media screen and (max-width: 720px) {
  .container1 {
    grid-template-columns: 1fr;
    margin: 50px 30px;
  }
}

.card1 {
  position: relative;
  padding: 10px;
  background: white;
  display: grid;
  grid-template-rows: 8fr 1fr 1fr;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.057);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.card1 .card-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.card1 .card-content .top-bar {
  width: calc(100% - 40px);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.card1 .card-content .top-bar .float-right {
  float: right;
}

.card1 .card-content .img {
  width: 100%;
  -webkit-box-pack: bottom;
  justify-content: bottom;
  align-content: bottom;
  text-align: center;
}

.card1 .card-content .img img {
  max-width: 100%;
  max-height: 220px;
}

.card1 .card-description {
  padding: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
  width: calc(100%-20px);
}

.card1 .card-description .title {
  text-transform: uppercase;
  text-align: left;
}

.card1 .card-description .cart {
  float: right;
  cursor: pointer;
}

.card1 .card-footer {
  text-transform: uppercase;
  padding: 0.3em;
  border-top: 0.5px solid #ececec;
  letter-spacing: 0.1em;
  font-size: 11px;
  color: white;
  justify-items: left;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
}

.card1 .card-footer .span {
  margin: 5px;
  width: auto;
  background: #dedede;
  padding: 4px 7px;
  border-radius: 2px;
  font-weight: 100;
  cursor: pointer;
}

.card1 .card-footer .span:hover {
  background: #aaaaaa;
}

.card1:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
}

/* shopping cart */
.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #6394F8;
}

nav {
  padding: 20px 0 40px 0;
  background: linear-gradient(rgba(49, 48, 48, 0.5), rgba(236, 139, 12, 0.808));
  font-size: 16px;
}

nav .navbar-left {
  float: left;
}

nav .navbar-right {
  float: right;
}

nav ul li {
  display: inline;
  padding-left: 20px;
}

nav ul li a {
  color: #ffff;
  text-decoration: none;
}

.container {
  margin: auto;
  width: 80%;
}

.badge {
  background-color: #8daae6;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
}

.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}

.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
  color: #6394F8;
  margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #6394F8;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}

.button:hover {
  background: #729ef9;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}